body {
    font-family: 'Cuprum', sans-serif;
    font-size: 26px;
    font-weight: 400px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0 auto;
    width: 1444px;



}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
img {
    margin: 0 0 5px;
}
.image {
    width: 300px;
    margin: 0 30% 0;
}
.faq {
    max-width: 700px;
    margin: 20px auto;
    
}
.faq-item {
    border-bottom: 1px solid rgb(48, 47, 47);

}


.faq-title {
    color: blue;
    display: block;
    cursor: pointer;
    padding: 10px 15px;
   transition: all .3s ease-out;
}

.faq-title:hover {
    color: black;
    
}
.faq-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}


.faq-img {
    display: none;
 }
 .faq-title:after {
    font-family: FontAwesome;
    content: "\2b";
    display: inline-block;
    position: absolute;
    right: 35%;
    width: 20px;
    transition: .1s ease-out;
    
 }   
.faq-input:checked + .faq-img {
    display: block;
    color: blueviolet;
}
.faq-input:hover + .faq-img {
    display: block;
    
}
.faq-input:checked + .faq-title:after {
    color: black;
}

/*.faq-input:checked + .faq-title:after {
    transform: rotate(45deg);
}*/
/*.faq-input:hover + .faq-title:after {
    transform: rotate(45deg);
}*/





.container {
    background: rgb(229, 226, 226);
    padding: 0;
    border: 2px solid rgb(235, 233, 233);
    width: 1200px;
    height: 1400px;
margin: auto;
}

